
__pycache__
venv
plyer.pdf
*.docx
*.docx#
/learny/DEMorphy
/cameratest
/learny/dictdata
/learny/dictdatakivy
/learny/learny/dictdata
*.pyc
*~

__pycache__
venv
/learny/microblog/dictdata
/learny/microblog/dictdata.lock
/learny/microblog/*.docx
/learny/microblog/*.docx#
/learny/microblog/geckodriver.log
